@font-face {
    font-family: gang-of-three;
    src: url(gang-of-three.ttf);
    
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(27, 27, 126);

}

p, label{
    font-size: large;
    font-weight: bold;
    color: white;

}

.main-title{
    font-size: 100px;
    color: azure;
    text-align: center;
    background-color: black;
    
}

.title{
    color: azure;
    text-indent: 10%;
    font-size: 50px;
    font-weight: bold;
    
}

.main-content{
    border-left: 4px solid white;
    border-right: 4px solid white;
    display: block;
    margin-left: 200px;
    
}

header{
    background-color: black;
    border: none;
    margin: 0px;

}

canvas{
    border: 2px solid white;
    display: block;
    margin-left: 20px;
    background-color: antiquewhite;
    
}

.navbutton{
    background-color: transparent;
    border: none;
    border-left: 5px solid white;
    padding: 10px;
    margin-left: 50px;
    width: 100px;
    height: 50px;
    left: 25px;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 aqua;
    transition: ease-out 0.8s;
    font-weight: 900;
    font-size: 20px;
    color: white;

}

.navbutton:hover{
    box-shadow: inset 400px 0 0 0 aqua;
    color: black;
    
}

table#cleanup-host{
    padding: 20px;
    border: 2px dashed black;
    background-color: cadetblue;
    column-gap: 10px;
    border-collapse: collapse;
    border-spacing: 5px;

}

.cleanup-button{
    border: none;
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;

}

.cleanup-enabled{
    background-color: green;


}

.cleanup-disabled{
    background-color: red;

}

.cleanup-cell{
    border: none;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: white;

}


/**{
    background-color: rgba(0, 255, 0, 0.25) !important;

}*/