@font-face {
    font-family: gang-of-three;
    src: url(fonts/gang-of-three.ttf);
    
}

*{
    margin: 0px;
    padding: 0px;


    /*background-color: rgba(0, 128, 0, 0.486) !important;*/
}

body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom right, #08137a, #440258);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(4px);

}

header{
    color: white;
    background-color: black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    position: relative;

}

.menuLine{
    border: none;
    border-top: 2px solid white;
    position: sticky;
    padding: 0px;
    list-style-type: none;
    overflow: auto;
    margin-top: 10px;
    width: 80%;
    margin: auto;
    
}

.menuLine li{
    float: left;
    text-align: left;
}

.menuLine li img{
    color: white;
}


.main-content{
    color: white;
    text-align: justify;
    padding: 15px;
    position: relative;
    overflow: hidden;
    
}

.main-content section{
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    z-index: inherit;
    overflow: auto;

}

.menu{
    position: relative;
    z-index: 2;

}

#menuWrapper{
    border: 2px solid #074b6bbd;
    background-color: #0a0516a8;
    padding-left: 15px;
    overflow: hidden;
    /*border: 3px solid rgba(red, green, blue, alpha);
    */
}

#menuBar{
    overflow: auto;
    list-style-type: none;

}

.menu-section-wrapper{
    border-bottom: 2px solid white;

}

.menu-icon{
    width: 10%;
    fill: white;
    
}

.menu-text{
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    margin-bottom: 10px;
    overflow: auto;

}

button{
    position: relative;

}


@media screen and (min-width: 450px){
    #menuWrapper{
        width: 75%;
        margin: auto;

    }

    .main-content{
        width: 75%;
        margin: auto;
        border-left: 2px solid white;
        border-right: 2px solid white;

    }
}

@media screen and (min-width: 1200px) {
    .menu{
        z-index: 0;
        position: relative;
        margin: auto;
    }

    #menuWrapper{
        width: 15%;
        margin: auto;
        float: left;

    }

    .main-content{
        z-index: 0;
        width: 70%;
        position: relative;
        overflow-y: scroll;

    }
}

canvas{
    background-color: white;

}